html,body,dl,dt,dd,ul,li,h1,h2,P,a,img {margin:0;padding:0;border:none;list-style:none;}
body {font: 12px Ã¥Â®â€¹Ã¤Â½â€œ;color:#333;background:#007AFF repeat-y center 0;}
a {color:#666;text-decoration: none;}
a:hover {color:#C60;text-decoration: underline;}

.head {width:960px; overflow:hidden; margin:auto;}
.menu {width:960px;padding:6px 0 5px 0;background:#f00 no-repeat 0 0; margin:auto; display:table;}
.menu ul {padding-left:5px;}
.menu ul li {font-size:13px;font-weight:bold;float:left;position: relative;margin-right:3px;}
.menu ul li a {color:#FFF;display:block;padding: 7px 12px 5px 12px;} 
.menu ul li a:hover {color:#C30;background-color:#FFF;text-decoration: none;}
.menu ul li ul {position: absolute;visibility: hidden;border-top:#DDD 1px solid;padding:0;}
.menu ul li ul li {font-size:12px;clear:both;margin:0;background:#F7FFE8;}
.menu ul li ul li a {width: 120px;text-indent:20px;color: navy;padding:4px 0 0 0;font-weight:normal;border:#DDD 1px solid;border-top:none;background:url("jt1.gif") no-repeat 5px 4px;}
.menu ul li ul li a:hover {color:#C30;background:#FC0 no-repeat 5px 4px;}
.menu ul li ul li ul {margin-top:-20px;}
#btfMenue{ 
    background:#00a;
}
